<tr class="option_value" id="option_value_<%= object.id -%>">
  <td><%= f.text_field :name %></td>
  <td><%= f.text_field :presentation %></td>	
  <td class="actions">
    <%= image_tag('ordering.png', :title => t('drag_to_reorder'), :alt => t('drag_to_reorder')) %>
    &nbsp;&nbsp;&nbsp;
    <%= f.remove_link icon('delete') + ' ' + t("remove") %>
  </td>
</tr>